footer{
    margin-top: 40px;
    background-color: var(--accent-color);
    padding-top: 20px;
    padding-bottom: 10px;
}

footer .footer-items{
    text-align: center;
    color: var(--primary-txt-color);
}