.indev-text{
    color: orange;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    min-height: 70px;
    background-color: var(--accent-color);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.logo img{
    height: 100px;
}


nav a{
    font-weight: 600;
    padding-right: 10px;
    color: var(--txt-off);
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover{
    color: var(--primary-txt-color);
}

.nav-link-in{
    color: var(--primary-txt-color);
}

@media (max-width:700px){
    header{
        flex-direction:column;
    }

    nav{
        padding: 10px 0;
    }
}

