.about h1{
    color: var(--primary-txt-color);
}

.about h1{
    font-weight: 600;
    font-size: 45px;
}

body{
    background-color: var(--bg-color);
    font-family: 'Roboto';
}

.about h3{
    font-size: 20px;
    color: var(--txt-off);
}

.about-text{
    text-align: center;
}

.about-info{
    background-color: var(--accent-color);
    padding: 20px;
}

.toFilms{
    color: var(--primary-txt-color);
    background-color: transparent;
    border: 3px solid orangered;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

.toFilms:hover{
    background-color: var(--button-hover);
}

.toFilms a{
    color: var(--primary-txt-color);
    text-decoration: none;
    font-size: 27px;
    margin: 100px;
}

@media (max-width:700px){
    .toFilms{
        margin-left: 0px;
        margin-top: 50px;
    }
}